<p id="notice"><%= notice %></p>

<%= form_for(@recruitment, url: choose_new_or_edit) do |f| %>
  <% if @recruitment.errors.any? %>
    <div id="error_explanation">
      <h2><%= @recruitment.errors.count %>件のエラーがあります。</h2>

      <ul>
      <% @recruitment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
  <br>
  <%= f.label :content %>
  <%= f.text_field :content, class: 'form-control' %>
  <br>
  <%= f.label :concept %>
  <%= f.text_field :concept, class: 'form-control' %>
  <br>
  <%= f.label :deadline %>
  <%= f.datetime_select :deadline, class: 'form-control' %>
  <br>
  <%= f.label :image_url %>
  <%= f.url_field :image_url, class: 'form-control' %>
  <br>
  <%= f.label :map_url %>
  <%= f.text_field :map_url, class: 'form-control' %>
  <br>
  <%= f.submit '募集', class: 'btn btn-primary btn-block' %>
<% end %>

<%= link_to "募集一覧画面にもどる", recruitments_path %>
