<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>募集一覧</h1>

    <%= link_to "募集する", new_recruitment_path, class: 'btn btn-info' %>

    <% @recruitments.each do |recruitment| %>
    <div class="row">
      <p>募集者:<%= recruitment.user.name %></p>
      <%= link_to recruitment_path(recruitment) do %>
        <p>タイトル:<%= recruitment.title %></p>
      <% end %>
      <p>募集内容:<%= recruitment.content %></p>
      <p>期限:<%= recruitment.deadline %></p>
      <% if current_user.id == recruitment.user_id %>
        <%= link_to "編集する", edit_recruitment_path(recruitment.id), class: 'btn btn-sm btn-success' %>
        <%= link_to "削除する", recruitment_path(recruitment.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-sm btn-danger' %>
      <% end %>
    </div>
    <% end %>

  </div>
</div>
