<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>募集詳細</h1>

    <div class="row">
      <p>募集者:<%= @recruitment.user.name %></p>
      <p>タイトル:<%= @recruitment.title %></p>
      <p>募集内容:<%= @recruitment.content %></p>
      <p>コンセプト:<%= @recruitment.concept %></p>
      <p>期限:<%= @recruitment.deadline %></p>
      <p>写真:<%= @recruitment.image_url %></p>
      <p>地図:<%= @recruitment.map_url %></p>
 <div style='width: 100%;'>
   <div id="map" style='width: 100%; height: 33vh;'></div>
 </div>
      <%= link_to "編集する", edit_recruitment_path(@recruitment.id), class: 'btn btn-sm btn-success' %>
      <%= link_to "削除する", recruitment_path(@recruitment.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-sm btn-danger' %>
    </div>
      <% if current_user.id != @recruitment.user_id %>
        <% if @anser.blank? %>
          <%= link_to "応募する", new_recruitment_anser_path(@recruitment.id), class: 'btn btn-sm btn-success' %>
        <% else %>
          <% @anser.each do |anser| %>
            <p>回答:<%= anser.anser %></p>
            <p>回答:<%= anser.comment %></p>
            <%= link_to "編集する", edit_recruitment_anser_path(anser.recruitment_id, anser.id), class: 'btn btn-sm btn-success' %>
            <%= link_to "削除する", recruitment_anser_path(anser.recruitment_id, anser.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-sm btn-danger' %>
          <% end %>
        <% end %>
      <% else %>
        <!-- 応募一覧へ -->
        <%= link_to "応募一覧", recruitment_ansers_path(@recruitment.id), class: 'btn btn-sm btn-success' %>
      <% end %>
      <br>
      <%= link_to "募集一覧へ戻る",recruitments_path, class: 'btn btn-sm btn-success' %>

  </div>
</div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers([
      {
        "lat": <%= @recruitment.latitude %>,
        "lng": <%= @recruitment.longitude %>,
        "picture": {
          "width":  32,
          "height": 32
        },
        "infowindow": '<%= @recruitment.title %>'
      }
    ]);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(15);
  });
</script>
