<p id="notice"><%= notice %></p>

<%= form_for([@recruitment,@anser], url: anser_choose_new_or_edit) do |f| %>
  <% if @anser.errors.any? %>
    <div id="error_explanation">
      <h2><%= @anser.errors.count %>件のエラーがあります。</h2>

      <ul>
      <% @anser.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :recruitment_id %>
  <%= f.label :anser %>
  <%= f.text_field :anser, class: 'form-control', required: true %>
  <br>
  <%= f.label :comment %>
  <%= f.text_area :comment, class: 'form-control', size: "100x5", required: true %>
  <br>
  <%= f.submit '応募', class: 'btn btn-primary btn-block' %>
<% end %>

<%= link_to "募集一覧画面にもどる", recruitments_path %>
