<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p><%= notice %></p>
    <h1>応募一覧</h1>



    <% @ansers.each do |anser| %>
    <div class="row">
      <p>募集者:<%= anser.user.name %></p>
      <p>回答:<%= anser.anser %></p>
      <p>コメント:<%= anser.comment %></p>

<div id="anser_<%= anser.id %>">
    <%= render partial: 'ansers/index', locals: { anser: anser, recruitment: @recruitment } %>
</div>

    </div>
    <% end %>
    

    <%= link_to "募集内容へ戻る", recruitment_path(@recruitment) %>

  </div>
</div>

